
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

section {
    text-align: center;
    padding: 50px 20px;
}

h1 {
    color: white;
}

header p {
    color: white;
    font-size: larger;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}