<<<<<<< HEAD
body>header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #a6a6a6, white)
}

main {
    min-height: 60vh;
    min-width: 20vw;
    display: flex;
    background-image: linear-gradient(to top, #a6a6a6, white)
}

.estilo-menu {
    width: 100vw;
    min-height: 20vh
}

li {
    list-style-type: none;
    flex-grow: 2;
    text-align: center
}

.bordedrch {
    border-right: 1px solid #000
}

ul {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #a6a6a6;
    border: 1px solid #000;
    margin: 0 10px
}

footer {
    min-height: 20vh;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, grey, black);
    color: #fff
}

=======
body>header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #a6a6a6, white)
}

main {
    min-height: 60vh;
    min-width: 20vw;
    display: flex;
    background-image: linear-gradient(to top, #a6a6a6, white)
}

.estilo-menu {
    width: 100vw;
    min-height: 20vh
}

li {
    list-style-type: none;
    flex-grow: 2;
    text-align: center
}

.bordedrch {
    border-right: 1px solid #000
}

ul {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #a6a6a6;
    border: 1px solid #000;
    margin: 0 10px
}

footer {
    min-height: 20vh;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, grey, black);
    color: #fff
}

>>>>>>> b26b33161a83617e7eaef908282cc45ad33ea1f9
