* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif
}


main>section>form {
    min-height: 30vh;
    max-width: 30vh;
    padding: 7px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, .7)
}


.EstiloBotones {
    background-color: #808080;
    color: #f0f8ff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15px;
    padding: 10px 40px
}


h2 {
    border-bottom: 3px solid #808080;
    color: #808080;
    margin-bottom: 20px;
    text-align: center
}

article {
    min-height: 20vh;
    margin: 10px;
    padding: 5px;
    border: 3px solid #808080;
    border-radius: 10px
}

a {
    color: #000;
    text-decoration: none
}

input {
    border: none;
    background: none;
    border-bottom: 3px solid #000;
    margin: 10px 0 10px
}

.contraseña {
    text-align: center
}

.tooltip {
    position: relative;
    display: inline-block
}

.tooltip .tooltip-texto {
    visibility: hidden;
    min-width: 120px;
    background: linear-gradient(to right, #c3c2c2, #626262);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    left: 110%;
    top: 20%
}

.tooltip:hover .tooltip-texto {
    visibility: visible
}

.registro-formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px
}

.campo-formulario {
    margin-bottom: 15px
}